.btn {
	padding: .5em 1em;
	font-size: 1em;
	cursor: pointer;
	background: nth(map-get($btn-colors, "default"), 1);
	color: nth(map-get($btn-colors, "default"), 2);
	border: 0;
	border-radius: .2em;
	transition: background-color $main-delay;


	@each $name, $bg in $btn-colors {
		$color: #f00;
		@if(type_of($bg) == "list") {
			$color: nth($bg, 2);
			$bg: nth($bg, 1);
		} @else {
			$color: nth(map-get($btn-colors, "default"), 2);
		}
		&_#{$name} {
			background: $bg;
			color: $color;

			&:hover, &:focus {
				background: lighten($bg, 10%);
				outline: none;
			}
		}
	}
}


.btn-line {
	display: flex;

	& .btn {
		border-radius: 0;

		&:first-child {
			border-bottom-left-radius: .2em;
			border-top-left-radius: .2em;
		}

		&:last-child {
			border-bottom-right-radius: .2em;
			border-top-right-radius: .2em;
		}
	}
}
